/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: rgb(19, 19, 19);
  color: lightgray;
  text-align: center;
}
img{
  box-shadow: 5px 10px #888888;
  height: 600px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
