/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: black;
  color: lightgray;
  text-align: center;
}
img{
  box-shadow: 5px 10px #888888;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
