/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: rgb(19, 19, 19);
  color: lightgray;
  text-align: center;

}

#recWrapper{
  transition: 0.5s;
}

#coverArt{
  box-shadow: 5px 10px #888888;
  max-height: 800px;
  max-width: 100%;
  height: 50rem;
}

div.descContainer > h3{
  text-decoration: underline;
}

div.listContainer{
  text-align: center;
}

ul{
  display: inline-block;
  text-align: left;
}

.tagsHeader{
  margin-bottom: 0%;
  text-decoration: underline;
}

#history{
  padding-left: 0px;
}

#history > li{
  list-style-type: none;
}

.historyItem{
  overflow: hidden;
  height: 100px;
  margin-right: 5px;
}

.historyItem > span{
  height: auto;
}

.historyItem > img{
  float: left;
  width: 50px;
}

.deleteHistoryItem{
  position:absolute;
  padding: 11% 6px;
  font-size: 2rem;
}

.deleteHistoryItem:hover {
  color: #f1f1f1;
  cursor: pointer;
}

#clearHistory{
  border:none;
}
#clearHistory:hover{
  color: red;
  cursor: pointer;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: -250px;
  background-color: #111;
  /* background: rgba(0,0,0,0.0); */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 10;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySideNav h3{
  font-size: 1.5rem;
  margin: 0px 0px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closeNavBtn {
  padding: 0%;
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 50px;
}
.closeNavBtn{
  transition: 1s;
}

.openNavBtn{
  position: fixed;
  left: 30px;
  top: 20px;
  font-size: 50px;
  visibility: visible ;
}

.openNavBtn:hover {
  color: #f1f1f1;
  cursor: pointer;
}